<header class="header">
	<h1 class="omaha" title="8-Bit Omaha">8-Bit <span class="thick">Omaha</span></h1>
	<section class="search">
		<label data-icon="&#xe000;" aria-hidden='true' for="searchEightBits"></label>
		<input type="text" id="searchEightBits" ng-model="search" placeholder="name or twitter handle">
	</section>
	<nav class="nav">
	    <a href="#" class="nav_btn">Request An 8-Bit</a>
	</nav>
</header>

<section class="bits-container">
	<div ng-repeat="eb in eightbits | filter:search" id="{{eb.first_name | trim}}-{{eb.last_name}}" class="eight-bit flip {{eb.handle}}">
		<div class="eight-bit-inner">
	        <div class="visual">
	            <div class="bit -bit_{{eb.first_name | trim}}-{{eb.last_name}}"></div>
	            <a href="#" class="arrow_btn"><span class="arrow"></span></a>
	        </div>
	        <div class="details">
	        	<h2 class="name">{{eb.first_name}} {{eb.last_name}}</h2>
	            <a href="http://twitter.com/{{eb.handle}}" target="_blank" class="handle">@{{eb.handle}}</a>
	            <a href="http://twitter.com/{{eb.handle}}" class="detail_btn">Follow</a>
	            <a href="/data/{{eb.first_name | trim}}-{{eb.last_name}}.zip" class="detail_btn">Download</a>
	        </div>
	    </div>
	</div>
</section>