<section class="search">
	<input type="text" ng-model="first_name">
</section>

<section class="bits-container">
	<div ng-repeat="eb in eightbits | filter:first_name" id="{{eb.first_name | trim}}-{{eb.last_name}}" class="eight-bit {{eb.handle}}">
		<div class="eight-bit-inner">
	        <div class="visual">
	            <div class="bit -bit_{{eb.first_name | trim}}-{{eb.last_name}}"></div>
	            <a href="#" class="arrow_btn"><span class="arrow"></span></a>
	        </div>
	        <div class="details">
	        	<h2 class="name">{{eb.first_name}} {{eb.last_name}}</h2>
	            <a href="http://twitter.com/{{eb.handle}}" target="_blank" class="handle">@{{eb.handle}}</a>
	            <a href="http://twitter.com/{{eb.handle}}" class="detail_btn">Follow</a>
	        </div>
	    </div>
	</div>
</section>