@import 'bourbon/bourbon';
@import 'reset';
@import 'typo';
@import 'base';

* { @include box-sizing(border-box); }
html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

.header {
    overflow: hidden;
    width: 100%;
    margin:0 0 2em;
}

.omaha {
    @include inline-block;
    padding: .5em 1em;
    font-size: 2em;

}

.nav {
    overflow: hidden;
    float: right;
    padding: 0 0 .5em;

    .nav_btn {
        float: right;
        margin: 20px 20px 0 0;      
        @include btn-gray;
        &.log-out {
            &:hover {
                content: 'Log Out';
            }
        }
    }
        
}

.scape {
    display: block;
    position: relative;
    height: 650px;
    width: 100%;
    padding: 265px 0 0;
    margin: 0px;
    background: url(/img/omaha-bkgd.png) no-repeat;

    #street {
        position:relative;
    	display: block;
    	z-index: 999;
        height: 400px;
        background: none;
        margin: 0px;
        padding:0px;
    }
}

.bits-container {
    display: block;
    overflow: hidden;
    clear: both;
    padding: .5% .5%;

    .eight-bit {
        position: relative;
        overflow: hidden; 
        @include inline-block; 
        vertical-align: middle;
        padding: .5%;    
        float: left;
        width: 100%;
        height: auto;
        text-align: center;
        cursor: pointer;
        @media screen and (min-width: 420px){
            width: 50%;
        }
        @media screen and (min-width: 610px){
            width: 33.33%;
        }
        @media screen and (min-width: 825px){
            width: 25%;
        }
        @media screen and (min-width: 1050px){
            width: 20%;
        }
        @media screen and (min-width: 1500px){
            width: 16.66%;
        }

        .visual { display: block; }
        .details { display: none; }
        &.new {
            .visual {
                &:before {
                    content: "New";
                    position: absolute;
                    z-index: 999;
                    overflow: hidden;
                    text-align: center;
                    top: 13px;
                    right: -34px;
                    font-size: .9375em;
                    @include start;
                    color: #FFF;
                    text-transform: uppercase;
                    text-shadow: 0 -1px 0 #0096B6;
                    padding: 4px 0 2px 0;    
                    width: 115px;
                    background-color: #00BCE4;
                    -webkit-transform: rotate(45deg);
                }
            }
        }
        &.flipped {
            .visual { display: none; }
            .details { display: block; }
        }
        
        .visual {
            position: relative;
            overflow: hidden; 
            height: 240px;
            width: 100%;
            padding: 60px 0 0;
            background-color: #F7F7F7;
            box-shadow: 0 1px 0 #DDD;

            .bit {
                @include inline-block;
                height:120px;
                width: 80px;
                background-size: contain;
            }

            .arrow_btn {
                position: absolute;
                right: 10px;
                bottom: 10px;
                width: 32px;
                height: 28px;
                @include btn-gray;
                padding: 0px;
                &:before {
                    content: "";
                    position: absolute;
                    right: 8px;
                    bottom: 5px;
                    z-index: 300;
                    height: 11px;
                    width: 12px;  
                    border-radius: 3px;
                    border-right: 4px solid #fff;
                    border-bottom:4px solid #fff;
                    background-color: none;    
                }
                &:after {
                    content: "";
                    position: absolute;
                    right: 8px;
                    bottom: 6px;
                    z-index: 300;
                    height: 11px;
                    width: 12px; 
                    border-radius: 3px;
                    border-right: 4px solid #D8D8D8;
                    border-bottom:4px solid #D8D8D8;
                    background-color: none;     
                }

                .arrow {
                    content: "";
                    position: absolute;
                    right: 8px;
                    bottom: 12px;
                    z-index: 200;
                    height: 4px;
                    border-radius: 10px;
                    background-color: #D8D8D8;  
                    width: 17px;    
                    @include transform(rotate(40deg));
                }
            }
        }
        .details {
            overflow: hidden;
            height: 240px;
            width: 100%;
            background-color: #00BCE4;
            box-shadow: 0 1px 0 #0096B6;
            text-align: center;

            .name {
                display: block;
                padding: 25px 0;
                font-size: 1.5em;
                line-height: 1em;
                font-weight: 400;    
                @include neue;
                color: #FFF;
                text-transform: uppercase;
            }

            .handle {
                @include inline-block;
                width: auto;
                clear:both;
                margin-bottom: 25px;
                font-size: 1.25em;
                line-height: 1.75em;
                font-weight: 600;    
                @include exo;
                color: #FFF;
                line-height: 0px;
                @include transition(all .15s linear);
                &:hover {
                    color: #8CD6EE;
                }
            }

            .detail_btn {
                display: block;
                margin: 10px auto;
                width: 90%;
                padding: 10px 0 10px 0;
                @include btn-blue;
            }
        }
    }
}

