.bit-8bit-01 { background-image: url(png/8bit-01.png); background-repeat: no-repeat; }

.bit-8bit-03 { background-image: url(png/8bit-03.png); background-repeat: no-repeat; }

.bit-8bit-04 { background-image: url(png/8bit-04.png); background-repeat: no-repeat; }

.bit-8bit-05 { background-image: url(png/8bit-05.png); background-repeat: no-repeat; }

.bit-8bit-06 { background-image: url(png/8bit-06.png); background-repeat: no-repeat; }

.bit-8bit-07 { background-image: url(png/8bit-07.png); background-repeat: no-repeat; }

.bit-8bit-08 { background-image: url(png/8bit-08.png); background-repeat: no-repeat; }

.bit-8bit-09 { background-image: url(png/8bit-09.png); background-repeat: no-repeat; }

.bit-8bit-10 { background-image: url(png/8bit-10.png); background-repeat: no-repeat; }

.bit-8bit-11 { background-image: url(png/8bit-11.png); background-repeat: no-repeat; }

.bit-8bit-12 { background-image: url(png/8bit-12.png); background-repeat: no-repeat; }

.bit-8bit-13 { background-image: url(png/8bit-13.png); background-repeat: no-repeat; }

.bit-8bit-14 { background-image: url(png/8bit-14.png); background-repeat: no-repeat; }

.bit-8bit-15 { background-image: url(png/8bit-15.png); background-repeat: no-repeat; }

.bit-8bit-16 { background-image: url(png/8bit-16.png); background-repeat: no-repeat; }

.bit-8bit-17 { background-image: url(png/8bit-17.png); background-repeat: no-repeat; }

.bit-8bit-18 { background-image: url(png/8bit-18.png); background-repeat: no-repeat; }

.bit-8bit-19 { background-image: url(png/8bit-19.png); background-repeat: no-repeat; }

.bit-8bit-20 { background-image: url(png/8bit-20.png); background-repeat: no-repeat; }

.bit-8bit-21 { background-image: url(png/8bit-21.png); background-repeat: no-repeat; }

.bit-8bit-22 { background-image: url(png/8bit-22.png); background-repeat: no-repeat; }

.bit-8bit-23 { background-image: url(png/8bit-23.png); background-repeat: no-repeat; }

.bit-8bit-24 { background-image: url(png/8bit-24.png); background-repeat: no-repeat; }

.bit-8bit-25 { background-image: url(png/8bit-25.png); background-repeat: no-repeat; }

.bit-8bit-26 { background-image: url(png/8bit-26.png); background-repeat: no-repeat; }

.bit-8bit-27 { background-image: url(png/8bit-27.png); background-repeat: no-repeat; }

.bit-8bit-28 { background-image: url(png/8bit-28.png); background-repeat: no-repeat; }

.bit-8bit-29 { background-image: url(png/8bit-29.png); background-repeat: no-repeat; }

.bit-8bit-30 { background-image: url(png/8bit-30.png); background-repeat: no-repeat; }

.bit-8bit-31 { background-image: url(png/8bit-31.png); background-repeat: no-repeat; }

.bit-8bit-32 { background-image: url(png/8bit-32.png); background-repeat: no-repeat; }

.bit-8bit-33 { background-image: url(png/8bit-33.png); background-repeat: no-repeat; }

.bit-8bit-34 { background-image: url(png/8bit-34.png); background-repeat: no-repeat; }

.bit-8bit-35 { background-image: url(png/8bit-35.png); background-repeat: no-repeat; }

.bit-8bit-36 { background-image: url(png/8bit-36.png); background-repeat: no-repeat; }

.bit-8bit-37 { background-image: url(png/8bit-37.png); background-repeat: no-repeat; }

.bit-8bit-38 { background-image: url(png/8bit-38.png); background-repeat: no-repeat; }

.bit-8bit-39 { background-image: url(png/8bit-39.png); background-repeat: no-repeat; }

.bit-8bit-40 { background-image: url(png/8bit-40.png); background-repeat: no-repeat; }

.bit-8bit-41 { background-image: url(png/8bit-41.png); background-repeat: no-repeat; }

.bit-8bit-42 { background-image: url(png/8bit-42.png); background-repeat: no-repeat; }

.bit-sgordon { background-image: url(png/sgordon.png); background-repeat: no-repeat; }