/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

p, body {
  font-family: Helvetica, sans-serif; }

h1 {
  float: left;
  font-weight: 200;
  color: #00BCE4; }

.wf-loading h1 {
  font-size: 0px;
  font-family: serif; }

.wf-inactive h1 {
  font-size: 0px;
  font-family: serif; }

.wf-active h1 {
  font-family: "Exo", sans-serif; }

.thick {
  font-weight: 600; }

p, body {
  font-family: Helvetica, sans-serif; }

h1 {
  float: left;
  font-weight: 200;
  color: #00BCE4; }

.wf-loading h1 {
  font-size: 0px;
  font-family: serif; }

.wf-inactive h1 {
  font-size: 0px;
  font-family: serif; }

.wf-active h1 {
  font-family: "Exo", sans-serif; }

.thick {
  font-weight: 600; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.header {
  overflow: hidden;
  width: 100%;
  margin: 0 0 2em; }

.omaha {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  padding: 0.5em 1em;
  font-size: 2em; }

.nav {
  overflow: hidden;
  float: right;
  padding: 0 0 0.5em; }
  .nav .nav_btn {
    float: right;
    margin: 20px 20px 0 0;
    font-family: "Helvetica Neue", sans-serif;
    padding: 10px 8px 10px 8px;
    background-color: #EFEFEF;
    border-radius: 5px;
    box-shadow: 0 1px 0 #dddddd, 0 -1px white;
    color: #C9C9C9;
    text-shadow: 0 1px 0 white;
    font-size: 1.125em;
    font-weight: 400;
    text-align: center;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear; }
    .nav .nav_btn:hover {
      background-color: #EAEAEA; }

.scape {
  display: block;
  position: relative;
  height: 850px;
  width: 100%;
  padding: 250px 0 0;
  background: url(/img/omaha-bkgd.png) no-repeat; }
  .scape #street {
    position: relative;
    display: block;
    z-index: 999;
    height: 400px;
    background: none; }

.bits-container {
  display: block;
  overflow: hidden;
  clear: both; }
  .bits-container .eight-bit {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    vertical-align: middle;
    padding: 1%;
    float: left;
    width: 20%;
    height: auto;
    text-align: center;
    cursor: pointer; }
    .bits-container .eight-bit .visual {
      display: block; }
    .bits-container .eight-bit .details {
      display: none; }
    .bits-container .eight-bit.new .visual:before {
      content: "New";
      position: absolute;
      z-index: 999;
      overflow: hidden;
      text-align: center;
      top: 13px;
      right: -34px;
      font-size: .9375em;
      font-family: "Press Start 2P", sans-serif;
      color: #FFF;
      text-transform: uppercase;
      text-shadow: 0 -1px 0 #0096b6;
      padding: 4px 0 2px 0;
      width: 115px;
      background-color: #00BCE4;
      -webkit-transform: rotate(45deg); }
    .bits-container .eight-bit.flipped .visual {
      display: none; }
    .bits-container .eight-bit.flipped .details {
      display: block; }
    .bits-container .eight-bit .visual {
      position: relative;
      overflow: hidden;
      height: 240px;
      width: 100%;
      padding: 60px 0 0;
      background-color: #F7F7F7;
      box-shadow: 0 1px 0 #dddddd; }
      .bits-container .eight-bit .visual .bit {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        height: 120px;
        width: 80px;
        background-size: contain; }
      .bits-container .eight-bit .visual .arrow_btn {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 32px;
        height: 28px;
        font-family: "Helvetica Neue", sans-serif;
        padding: 10px 8px 10px 8px;
        background-color: #EFEFEF;
        border-radius: 5px;
        box-shadow: 0 1px 0 #dddddd, 0 -1px white;
        color: #C9C9C9;
        text-shadow: 0 1px 0 white;
        font-size: 1.125em;
        font-weight: 400;
        text-align: center;
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -ms-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear;
        padding: 0px; }
        .bits-container .eight-bit .visual .arrow_btn:hover {
          background-color: #EAEAEA; }
        .bits-container .eight-bit .visual .arrow_btn:before {
          content: "";
          position: absolute;
          right: 8px;
          bottom: 5px;
          z-index: 300;
          height: 11px;
          width: 12px;
          border-radius: 3px;
          border-right: 4px solid white;
          border-bottom: 4px solid white;
          background-color: none; }
        .bits-container .eight-bit .visual .arrow_btn:after {
          content: "";
          position: absolute;
          right: 8px;
          bottom: 6px;
          z-index: 300;
          height: 11px;
          width: 12px;
          border-radius: 3px;
          border-right: 4px solid #d8d8d8;
          border-bottom: 4px solid #d8d8d8;
          background-color: none; }
        .bits-container .eight-bit .visual .arrow_btn .arrow {
          content: "";
          position: absolute;
          right: 8px;
          bottom: 12px;
          z-index: 200;
          height: 4px;
          border-radius: 10px;
          background-color: #D8D8D8;
          width: 17px;
          -webkit-transform: rotate(40deg);
          -moz-transform: rotate(40deg);
          -ms-transform: rotate(40deg);
          -o-transform: rotate(40deg);
          transform: rotate(40deg); }
    .bits-container .eight-bit .details {
      overflow: hidden;
      height: 240px;
      width: 100%;
      background-color: #00BCE4;
      box-shadow: 0 1px 0 #0096b6;
      text-align: center; }
      .bits-container .eight-bit .details .name {
        display: block;
        padding: 25px 0 15px;
        font-size: 1.5em;
        line-height: 2em;
        font-weight: 400;
        font-family: "Helvetica Neue", sans-serif;
        color: #FFF;
        text-transform: uppercase; }
      .bits-container .eight-bit .details .handle {
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        *display: inline;
        *vertical-align: auto;
        width: auto;
        clear: both;
        margin-bottom: 25px;
        font-size: 1.25em;
        line-height: 1.75em;
        font-weight: 600;
        font-family: "Exo", sans-serif;
        color: #FFF;
        line-height: 0px;
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -ms-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear; }
        .bits-container .eight-bit .details .handle:hover {
          color: #8CD6EE; }
      .bits-container .eight-bit .details .detail_btn {
        display: block;
        margin: 10px auto;
        width: 90%;
        padding: 10px 0 10px 0;
        font-family: "Helvetica Neue", sans-serif;
        padding: 10px 8px 10px 8px;
        background-color: #00ACD0;
        border-radius: 5px;
        box-shadow: 0 1px 0 #0096b6, 0 -1px #4cc7e8;
        color: #8CD6EE;
        text-shadow: 0 -1px 0 #0096b6;
        font-size: 1.125em;
        font-weight: 400;
        text-align: center;
        -webkit-transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -ms-transition: all 0.15s linear;
        -o-transition: all 0.15s linear;
        transition: all 0.15s linear; }
        .bits-container .eight-bit .details .detail_btn:hover {
          background-color: #00A8CB; }
