<div class="request-form">
	<div class="request-intro">
		<h3 class="head">Want your own 8-bit?</h3>
		<p class="body">Please tell us why and we'll see what we can do</p>
	</div>
	<div class="contact">
		<input id="first_name" placeholder="First Name">
		<input id="email" placeholder="Email Address">	
		<input id="handle" placeholder="Twitter Handle">		
	</div>
	<div class="request-box">
		<textarea id="request-box-text"></textarea>
	</div>
	<div class="human">
		5 + 3 = <input id="human" placeholder="??">
	</div>
	<a id="request-btn" href="#" class="request-submit">Submit Request</a>
</div>

<h1 class="omaha" title="8-Bit Omaha">8-Bit <span class="thick">Omaha</span></h1>

<nav class="nav">
    <a href="#" class="nav_btn">Request An 8-Bit</a>
</nav>

	