<div class="bird">
	<div class="bird-icon"><img src="public/img/twitter.svg"></div>
</div>

<div class="tweet-box">
	{{#if oauth}}
		<textarea placeholder="What's Up?"></textarea>
	{{/if}}
</div>
<div class="login">
	{{#if oauth}}
		<a href="/" class="footer-btn log-out">Hi, {{results.screen_name}}</a>
		<a href="#" class="footer-btn submit">Tweet</a>
	{{else}}
		<input placeholder="Username or email">
		<input placeholder="Password">
		<a href="/auth/twitter" class="footer-btn submit">Sign In</a>
	{{/if}}
</div>




