<a href="#" class="nav_btn">Request An 8-Bit</a>
{{#if oauth}}
	<a href="/" class="nav_btn log-out">Hi, {{results.screen_name}}</a>
{{else}}
	<a href="/auth/twitter" class="nav_btn log-in">Login Via Twitter</a>
{{/if}}
