<div class="bird">
	<div class="bird-icon"><img src="public/img/twitter.svg"></div>
</div>

<div class="tweet-box">
	{{#if oauth}}
		<textarea placeholder="What's Up?"></textarea>
	{{/if}}
</div>
<div class="login">
	{{#if oauth}}
		<a href="/" class="footer-btn log-out">Hi, {{results.screen_name}}</a>
		<a href="#" class="footer-btn submit">Tweet</a>
	{{else}}
		<input id="twitter_screen_name" placeholder="Username or email">
		<input password="twitter_password" placeholder="Password">
		<a id="submit-btn" href="" onclick="this.setAttribute('href', '/auth/twitter?screen_name='+document.getElementById('twitter_screen_name').value )" class="footer-btn submit">Sign In</a>
	{{/if}}
</div>




