<div class="bird">
	<div class="bird-icon"><img src="public/img/twitter.svg"></div>
</div>

<div class="tweet-box">
	{{#if oauth}}
		<textarea id="tweet-box-text" placeholder="What's Up?"></textarea>
	{{/if}}
</div>
<div class="login">
	{{#if oauth}}
		<a href="/logout" class="footer-btn log-out">Hi, {{results.screen_name}}. Log out?</a>
		<a href="#" class="footer-btn tweet-submit" <!--onclick="this.setAttribute('href', '/auth/twitter/tweet?status='+encodeURIComponent( document.getElementById('tweet-box-text').value ) )"-->>Tweet</a>
	{{else}}
		<input id="twitter_screen_name" placeholder="Username or email">
		<input password="twitter_password" placeholder="Password">
		<a id="submit-btn" href="#" <!--onclick="this.setAttribute('href', '/auth/twitter?screen_name='+document.getElementById('twitter_screen_name').value )"--> class="footer-btn login-submit">Sign In</a>
	{{/if}}
</div>




